body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181717, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #302f2f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: azure;
}
.navbar{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #181717, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #302f2f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-brand{
    font-size: 2rem;
}

p{
    font-family: 'Inconsolata', monospace;
}

h1,h2{
    font-family: 'Patrick Hand', cursive;
}


.card{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181717, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #302f2f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a{
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    color: azure;
    
}
a:hover{
    color: aquamarine;
    text-decoration: none;
}

.navbar-nav a{
    font-size: 1rem;

}

/* Jumbotron */
.jumbotron{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181717, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #302f2f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid whitesmoke;
}

ul{
    list-style: none;
    font-family: 'Inconsolata', monospace;
}

/* Footer styles */
.contactLinks{
    padding-right:10px;
    color: whitesmoke;
    font-size: 2rem;
}

.lead{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
}