/* Smooth Scrolling effect */
html {
    scroll-behavior: smooth;
  }
  /* intial font color and transition effect for theme change */
body{
    color: azure;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
/* NAV  */

/* Default navbar color */
.navbar{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
/* brand name size */
.navbar-brand{
    font-size: 1.7rem;
}
/* DROP DOWN */

/* Drop down menu circle effects */
.dropdown-menu a{
    content: '  ';
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
/* Dropdown menu transparent */
.dropdown-menu{
    background-color: transparent;
    border: none;
}

/* Drop down button */
.btn{
    border: none;
}
.btn:hover{
    background-color: transparent;
    border: 1px solid white;
}
.btn:focus{
    background-color:transparent;
    border: none;
}

#light{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#blue{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#dark{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292828, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292828, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
}

p{
    font-family: 'Inconsolata', monospace;
    text-align: justify;
}

.title{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #004e92;
}

.result{
    font-weight: bold;
    color: #24d3ff;
    font-size: 1.2rem;
}

#youtubeLink a{
    font-size: 1.3rem;
}

a{
    color:  #2fb9e4;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: wheat;
}

.card{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}
.leftLine{
    border-left: 1px solid whitesmoke;
}

#presentationSkills a{
    color: white;
    text-decoration: underline;
}


/* Footer styles */
.contactLinks{
    padding-right:10px;
    color: whitesmoke;
    font-size: 2rem;
}
.contactLinks a:hover{
    font-size: 2.1rem;
    color: #24d3ff;
    
}
.lead{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
}

.white{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #0F2027;    
}

.blue{
        background: #2980b9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dark{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292828, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292828, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: whitesmoke;

}

/* More link toggle underline class */
.underLine{
    text-decoration: underline;
    font-weight: 800;
}

/* Title background for blue */
.titleBlue{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #004e92;
}

.titleDark{
    background:"#5b5c5c";
    color:"whitesmoke";
}
.titleLight{
    background:"whitesmoke";
    color:"#45627A";
}

.dropdown-menu .active{
    border: 2px dotted red;
}