html {
    scroll-behavior: smooth;
  }
body{
    background: #2980b9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: azure;
}

.navbar{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
.navbar-brand{
    font-size: 2rem;
}

p{
    font-family: 'Inconsolata', monospace;
    text-align: justify;
}

#title{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #004e92;
}

.result{
    font-weight: bold;
    color: aquamarine;
    font-size: 1.2rem;
}

#youtubeLink a{
    font-size: 1.3rem;
}

#moreLink{
    color: aquamarine;
    text-decoration: underline;
}

a{
    color: aquamarine;
}
a:hover{
    color: whitesmoke;
    text-decoration: none;
}

.card{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}
.leftLine{
    border-left: 1px solid whitesmoke;
}
.card-header{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
#presentationSkills a{
    color: white;
    text-decoration: underline;
}


/* Footer styles */
.contactLinks{
    padding-right:10px;
    color: whitesmoke;
    font-size: 2rem;
}
.contactLinks a:hover{
    font-size: 2.1rem;
}
.lead{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
}